

<h2>Trouvez le vol qui vous correspond !</h2>
<% if !user_signed_in? %>
  <p class="p">Connectez vous pour réserver un vol !</p>
<% end %>

<hr style="margin: 1em 0">

<%= paginate @vols %>


<div class="list">
  <% if @vols.length == 0 %>

      <h3>Aucun vol trouvé !</h3>

  <% else %>
    <% @vols.each do |vol| %>
      <% if vol.departure_date.future? %>
        <div class="flight-card">

          <div class="departure">
            <p class="date"><%= vol.departure_date.strftime("%d/%m/%y") %></p>
            <p class="time"><%= vol.departure_date.strftime("%H:%M") %></p>
            <p class="airport"><%= vol.departure_airport %></p>
          </div>

          <p class="duration">Durée <%= vol.duration_format(vol.duration) %></p>

          <div class="arrival">
            <p class="date"><%= vol.arrival_date(vol.departure_date, vol.duration).strftime("%d/%m/%y") %></p>
            <p class="time"><%= vol.arrival_date(vol.departure_date, vol.duration).strftime("%H:%M"); %></p>
            <p class="airport"><%= vol.arrival_airport %></p>
          </div>

          <div class="info">
            <p>Numéro de vol</p>
            <p class="id"><%= vol.number %></p>
          </div>
          <% if user_signed_in? %>
            <%= button_to "Reserver", {:controller => "vols", :action => "show", :id => vol.id} , method: :get, class: "btn btn-success submit"%>
          <% end %>
        </div>
      <% end %>
    <% end %>
  <% end %>


</div>
<br>
<%= paginate @vols %>


