

<h2>Trouvez le vol qui vous correspond !</h2>

<hr style="margin: 1em 0">

<%= paginate @vols %>

<div class="list">
  <% if @vols.length == 0 %>

      <h3>Aucun vol trouvé !</h3>

  <% else %>
    <% @vols.each do |vol| %>
      <% if vol.departure_date.future? %>
        <div class="flight-card">

          <div class="departure">
            <p class="date"><%= vol.departure_date.strftime("%d/%m/%y") %></p>
            <p class="time"><%= vol.departure_date.strftime("%H:%M") %></p>
            <p class="airport"><%= vol.departure_airport %></p>
          </div>

          <p class="duration">Durée <%= vol.duration_format(vol.duration) %></p>

          <div class="arrival">
            <p class="date"><%= vol.arrival_date(vol.departure_date, vol.duration).strftime("%d/%m/%y") %></p>
            <p class="time"><%= vol.arrival_date(vol.departure_date, vol.duration).strftime("%H:%M"); %></p>
            <p class="airport"><%= vol.arrival_airport %></p>
          </div>

          <div class="info">
            <p>Numéro de vol</p>
            <p class="id"><%= vol.number %></p>
          </div>
          <% if user_signed_in? %>
            <a href="#" class="btn btn-success submit">Réserver</a>
          <% end %>
        </div>
      <% end %>
    <% end %>
  <% end %>


</div>

<br>


