<p id="notice"><%= notice %></p>

<h2>Réserver un vol</h2>

<div class="list">
  <% @vols.each do |vol| %>
    <div class="flight-card">
      <div class="departure">
        <p class="time"><%= vol.departure_date.strftime("%H:%M") %></p>
        <p class="airport"><%= vol.departure_airport %></p>
      </div>

      <p class="duration">Durée <%= vol.duration_format(vol.duration) %></p>

      <div class="arrival">
        <p class="time"><%= vol.arrival_date(vol.departure_date, vol.duration).strftime("%H:%M"); %></p>
        <p class="airport"><%= vol.arrival_airport %></p>
      </div>

      <div class="info">
        <p class="id"><%= vol.number %></p>
      </div>
    </div>
  <% end %>
</div>

<br>


