

<h2>Mon profil</h2>

<hr>

<div class="row">
  <div class="col-9">
    <h3>Mes réservations</h3>
    <% @reservations.each do |reservation| %>
      <%= reservation.heure_reservation%>
      <%= reservation.classe%>
      <%= reservation.nombre_places%>
      <%= reservation.user_id%>
      <%= reservation.pnr%>
      <%= button_to "Supprimer", {:controller => "reservations", :action => "destroy", :id => reservation.id} , :method => :delete, class: "btn btn-success submit"%>
      <br>
    <% end %>

  </div>
  <div class="col-3">
    <div class="user-info">
      <h3 class="mb-4">Mes informations</h3>
      <p id="name"><span class="u">Name: </span> <%= current_user.lastname %></p>
      <p id="firstname"><span class="u">Firstname: </span> <%= current_user.firstname %></p>
      <p id="age"><span class="u">Age: </span> <%= current_user.age %></p>
      <a href="user/edit" class="edit">Modifier mes informations</a>
    </div>

  </div>
</div>

<%= link_to 'Faire une reservation', '/' %>
